.process-page {
    margin-top: 120px;
}
.process{
  display: flex;
}
.process hr{
  width: 70%;
}
.process h2{
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;

}
.process p{
  text-align: left;


}
