.home-page {
    margin-top: 120px;
}
.body-left-wrapper{
display: flex;
width: 100%;
flex-wrap: wrap;
}
.media-icon{
  font-size: 50px;
color: #de440a;
}
.media-icon span:hover{
color:#FDC432;
transition: all ease-in .40s;
}
.media {
  display: flex;
  align-items: center;
  width: 50%
}

.media-body{
  padding-left: 45px;
}
