{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="box">
            <header>
                <h5>{% trans "Change Password" %}</h5>
                <div class="toolbar">
                    <span class="label">label</span>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
{% trans 'Your password is now changed.' %}</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}
