{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="box">
            <header>
                <h5>{% trans "Password Reset" %}</h5>
<div class="toolbar">
                    <span class="label">label</span>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
                     {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
    
    
   
{% endblock %}
