{% load staticfiles %}
{% load i18n %}

<div class="right-wrapper">
    <div class="right-top">
        <button type="button" class="main-button">Contact</button>
    </div>
    <div class="right-main">
    </div>
    <div class="right-bottom">
        <ul class="social-icon">
        	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
        	<li><a href="#"><span class="fa fa-twitter"></span></a></li>
        	<li><a href="#"><span class="fa fa-instagram"></span></a></li>
        	<li><a href="#"><span class="fa fa-skype"></span></a></li>
        </ul>
    </div>
</div>
