{% load staticfiles %}

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/swiper/dist/js/swiper.js' %}"></script>
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}{{ v }}"></script>
<script src="{% static 'assets/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/navbar.js' %}"></script>
<script src="{% static 'assets/js/footer.js' %}"></script>
