{% load cropping %}
{% load static %}

<title>{% block head_title %}{% endblock %}{{ seo_main.title }}</title>
<meta name="author" content="Darpon Technology" />
<meta name="keywords" content="paradigm, paradigmoutsourcing, para, digm, paradigmsourcing, paradigmbd, paradigm sourcing, paradigm out sourcing bd, paradigm bd">
  <meta name="description" content="Paradigm outsourcing is a name of superiority, innovative, variation, diversity, excellence and quality with new edged (fusion of contemporary and classical) design. We started our journey back in 2011. Since then we are in continuous hunt for exploring ourselves in outsourcing business as a unique trendsetter. Our domain of business is not confined to Bangladesh only rather has extended in CHINA and THAILAND (we have office in both the countries). We are sourcing products for reputed companies of BANGLADESH, CHINA and THAILAND. We strive to provide best possible quality product to the client at competitive price. Our overseas office (CHINA & THAILAND) is always updated with the latest products and capable of outsourcing any product of your choice within the shortest possible time with minimum cost. Our strength is our SOURCING SOLUTION where other competitor lacks and that is why PARADIGM OUTSOURCING is your best choice.">
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
