{% load cropping %}
{% load static %}

<title>{% block head_title %}{% endblock %}{{ seo_main.title }}</title>
<meta name="author" content="Darpon Technology" />
<meta name="keywords" content="darpon, darpon tech, dar, darpon bd, darpon technology, darponbd, darpon sourcing, darpon software, darpon soft">
  <meta name="description" content="Darpon Technology offer a range of web development services to the clients. Darpon Technology is committed to providing state of the art web development
services to the clients worldwide. Backed by a team of highly skilled and
experienced developers, we are able to extend such services using the
most cutting edge technologies. We follow a structured process of
development and offer timely project delivery.">
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
