{% load staticfiles %}
{% load i18n %}

<div class="left-wrapper">
    <div class="nav-top">
        <div class="logo-block">
            <img src="{% static 'assets/img/navbar/logo.png' %}" alt="">
        </div>
        <div class="logo-content">
            <p class="txt-effect logo-text">Darpon</p>
            <p class="txt-effect logo-text">Technology</p>
        </div>
    </div>
    <div class="nav-main">
        <ul class="nav-block">
            <li onclick="pageChange(this)" data-name="home"><span class="fa fa-home"></span> home</li>
            <li><a href=""><span class="fa fa-home"></span> home</a></li>
            <li><a href="#"><span class="fa fa-home"></span> home</a></li>
            <li><a href="#"><span class="fa fa-home"></span> home</a></li>
            <li><a href="#"><span class="fa fa-home"></span> home</a></li>
            <li><a href="#"><span class="fa fa-home"></span> home</a></li>
        </ul>
    </div>
    <div class="nav-bottom">
        <p class="creation-text">A Darpon Creation</p>
    </div>
</div>
