{% load staticfiles %}
{% load i18n %}

<div class="left-wrapper">
    <div class="nav-top">
        <div class="logo-block">
            <img src="{% static 'assets/img/navbar/logo.png' %}" alt="">
        </div>
        <div class="logo-content">
            <p class="txt-effect logo-text">Darpon</p>
            <p class="txt-effect logo-text">Technology</p>
        </div>
    </div>
    <div class="nav-main">
        <ul class="nav-block">
            <li onclick="pageChange(this)" data-name=""><span class="icon dt-home-house-streamline"></span><span class="nav-name"> Home</span></li>
            <li onclick="pageChange(this)" data-name="project"><span class="icon dt-ios-albums-outline"></span><span class="nav-name"> Project</span></li>
            <li onclick="pageChange(this)" data-name="services"><span class="icon dt-list-thumbnails"></span><span class="nav-name"> Services</span></li>
            <li onclick="pageChange(this)" data-name="team"><span class="icon dt-ios-information-outline"></span><span class="nav-name"> About</span></li>
            <li onclick="pageChange(this)" data-name="specialization"><span class="icon dt-phone"></span><span class="nav-name"> How We</span></li>
        </ul>
    </div>
    <div class="nav-bottom">
        <p class="creation-text">A Darpon Creation</p>
    </div>
</div>
