@charset "UTF-8";

@font-face {
  font-family: "darpon";
  src:url("../fonts/darpon.eot");
  src:url("../fonts/darpon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/darpon.woff") format("woff"),
    url("../fonts/darpon.ttf") format("truetype"),
    url("../fonts/darpon.svg#darpon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "darpon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dt-"]:before,
[class*=" dt-"]:before {
  font-family: "darpon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dt-align-right:before {
  content: "\61";
}
.dt-android:before {
  content: "\63";
}
.dt-apple:before {
  content: "\64";
}
.dt-align-justify:before {
  content: "\62";
}
.dt-angle-left:before {
  content: "\65";
}
.dt-angle-right:before {
  content: "\66";
}
.dt-angle-up:before {
  content: "\67";
}
.dt-angle-down:before {
  content: "\68";
}
.dt-home-1:before {
  content: "\6a";
}
.dt-home-2:before {
  content: "\6b";
}
.dt-information-circled:before {
  content: "\69";
}
.dt-list:before {
  content: "\6c";
}
.dt-ios-albums-outline:before {
  content: "\6d";
}
.dt-phone:before {
  content: "\6e";
}
.dt-facebook:before {
  content: "\6f";
}
.dt-instagram:before {
  content: "\70";
}
.dt-twitter:before {
  content: "\71";
}
.dt-cogs:before {
  content: "\72";
}
.dt-code-fork:before {
  content: "\73";
}
.dt-codepen:before {
  content: "\74";
}
.dt-copyright:before {
  content: "\75";
}
.dt-download:before {
  content: "\76";
}
.dt-github:before {
  content: "\77";
}
.dt-linkedin:before {
  content: "\78";
}
.dt-laptop:before {
  content: "\79";
}
.dt-leaf:before {
  content: "\7a";
}
.dt-pie-chart:before {
  content: "\41";
}
.dt-sitemap:before {
  content: "\42";
}
.dt-skype:before {
  content: "\43";
}
.dt-wordpress:before {
  content: "\44";
}
.dt-windows:before {
  content: "\45";
}
.dt-filter:before {
  content: "\46";
}
.dt-path:before {
  content: "\47";
}
.dt-googleplus:before {
  content: "\48";
}
.dt-globe-world:before {
  content: "\49";
}
.dt-line-chart:before {
  content: "\4a";
}
.dt-settings:before {
  content: "\4b";
}
.dt-folder-check:before {
  content: "\4c";
}
.dt-atom:before {
  content: "\50";
}
.dt-connection-1:before {
  content: "\51";
}
.dt-brush:before {
  content: "\52";
}
