{% extends 'base.html' %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}
{% load staticfiles %}
{% block head_title %}{% trans 'Home' %} | {% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/contact_detail.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/contact.js' %}"></script>
{% endblock %}

{% block content %}
<div class="contact_detail-page">
    <div class="contact-body">
        <h5>Send Message</h5>
        <h2>EMAIL US</h2>
        <p>For questions about our company and products found on our stores. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
        <div><button type="button" class="main-button mr-50">Information</button></div>
    </div>

    <div class="form-body">
        <form class="myForm">

            <p>
                <label>Name
                    <input type="text" class="myForm-textbox" name="customer_name" required>
                </label>
            </p>
            <p>
                <label>Email
                </label>
                    <input type="email" class="myForm-textbox" name="email_address">
            </p>

            <p>

                <label>Address
                    <textarea name="comments" class="myForm-textbox myForm-textarea" maxlength="800"></textarea>
                </label>
            </p>

            <button type="button" class="main-button mr-50">Send Message</button>
        </form>
    </div>

</div>
{% endblock content %}
