{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}Home{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/home.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="home-page">
	<div id="scrollHide">
		<div class="offer-banner">
			<h1 class="txt-effect2">Develop Your Personal Website</h1>
			<h2 class="txt-effect2">Domain + Hosting + Maintenensce</h2>
			<h3 class="txt-effect2">(with full dynamic controll)</h3>
		</div>
		<div class="slider-box">
			<div class="blog-slider">
				<div class="blog-slider__wrp swiper-wrapper">
					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="{% static 'page/img/ox.png' %}" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Oxford Ideal School</div>
							<div class="blog-slider__text">A full featcherd school management software. Most popular and secure, developded by python...</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>
					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="{% static 'page/img/nm.png' %}" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Noakhali Mail BD</div>
							<div class="blog-slider__text">Dynamic NewsPaper System. Multi repoter news submition with advertisement control and multi user support...</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>

					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="{% static 'page/img/px.png' %}" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Personal Expenses Manager</div>
							<div class="blog-slider__text">Save your Expenses daily and monitor you earning and expenses by year, month & daily...</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>

					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="{% static 'page/img/total.png' %}" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Total Service BD</div>
							<div class="blog-slider__text">React Js base Ecommerce Solution. Managing customers order with internal inventory...</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>

				</div>
				<div class="blog-slider__pagination"></div>
			</div>

		</div>
		<div class="our-services">
			<div class="service-header">
				<h1>Our Services</h1>
				<h2>Since 2016 a lots of companies have worked with Darpon Technology for</h2>
			</div>
			<div class="service-body">
				<div class="service-box">
					<span class="icon dt-upload-cloud"></span>
					<p>Web Hosting</p>
				</div>
				<div class="service-box">
					<span class="icon dt-magic-wand-1"></span>
					<p>Design / Markup</p>
				</div>
				<div class="service-box">
					<span class="icon dt-code"></span>
					<p>Web Development</p>
				</div>
				<div class="service-box">
					<span class="icon dt-mobile"></span>
					<p>Mobile App Development</p>
				</div>
			</div>

		</div>
		<div class="our-choose">
			<div class="choose-header">
				<h1>Why Choose Us?</h1>
				<h2>We are caring, creative & professional.<br>
					If your business is too, we're your perfect web partner.
				</h2>
			</div>
			<div class="choose-body">
				<div class="choose-box-1">
					<div class="choose-box">
						<span class="icon dt-graduation-cap"></span>
						<h2>expertise</h2>
						<p>We have the right people and expertise to meet your expectation.</p>
					</div>
				</div>
				<div class="choose-box-2">
					<div class="choose-box">
						<span class="icon dt-leaf-1"></span>
						<h2>trust</h2>
						<p>We have served local and international clients and gain trust by meeting their expectation.</p>
					</div>
				</div>
				<div class="choose-box-3">
					<div class="choose-show-box">
						<p class="txt-effect choose-show-content">We have the right people and expertise to meet your expectation.</p>
					</div>
				</div>
				<div class="choose-box-4">
					<div class="choose-box">
						<span class="icon dt-users"></span>
						<h2>work force</h2>
						<p>We recruits some of the best designers and developers to ensure top level output for our clients.</p>
					</div>
				</div>
				<div class="choose-box-5">
					<div class="choose-box">
						<span class="icon dt-folder-check"></span>
						<h2>expertise</h2>
						<p>We have the right people and expertise to meet your expectation.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock content %}
