{% extends 'base.html' %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}
{% load staticfiles %}
{% block head_title %}{% trans 'Home' %} | {% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/home.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="home-page">
	<div id="scrollHide">
		<div class="offer-banner">
			<h1 class="txt-effect2">Develop Your Personal Website</h1>
			<h2 class="txt-effect2">Domain + Hosting + Maintenensce</h2>
			<h3 class="txt-effect2">(with full dynamic controll)</h3>
		</div>
		<!-- <h1 class="txt-effect2 text-center">We offer a range of web development services to our valued clients Darpon
			Technology is committed to providing state - of - the - art web development
			services to our clients worldwide. Backed by a team of highly skilled and
			experienced developers, we are able to extend such services using the
			most cutting edge technologies. We follow a structured process of
			development and offer timely project delivery.</h1> -->
		<div class="slider-box">
			<div class="blog-slider">
				<div class="blog-slider__wrp swiper-wrapper">
					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">

							<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Lorem Ipsum Dolor</div>
							<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>
					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Lorem Ipsum Dolor2</div>
							<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>

					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Lorem Ipsum Dolor</div>
							<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>

					<div class="blog-slider__item swiper-slide">
						<div class="blog-slider__img">
							<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
						</div>
						<div class="blog-slider__content">
							<div class="blog-slider__title">Lorem Ipsum Dolor</div>
							<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
							<a href="#" class="blog-slider__button">READ MORE</a>
						</div>
					</div>

				</div>
				<div class="blog-slider__pagination"></div>
			</div>

		</div>
		<div class="our-services">
			<div class="service-header">
				<h1>Our Services</h1>
				<h2>Since 2016 a lots of companies have worked with Darpon Technology for</h2>
			</div>
			<div class="service-body">
				<div class="service-box">
					<span class="icon dt-android"></span>
					<p>Web Hosting</p>
				</div>
				<div class="service-box">
					<span class="icon dt-android"></span>
					<p>Design / Markup</p>
				</div>
				<div class="service-box">
					<span class="icon dt-android"></span>
					<p>Web Development</p>
				</div>
				<div class="service-box">
					<span class="icon dt-android"></span>
					<p>Mobile App Development</p>
				</div>
			</div>

		</div>
		<div class="our-choose">
			<div class="choose-header">
				<h1>Why Choose Us?</h1>
				<h2>We are caring, creative & professional.<br>
					If your business is too, we're your perfect web partner.
				</h2>
			</div>
			<div class="choose-body">
				<div class="choose-box-1">
					<span class="icon dt-android"></span>
					<p>Web Hosting</p>
				</div>
				<div class="choose-box-2">
					<span class="icon dt-android"></span>
					<p>Design / Markup</p>
				</div>
				<div class="choose-box-3">
					<p class="choose-show-content"></p>
				</div>
				<div class="choose-box-4">
					<span class="icon dt-android"></span>
					<p>Mobile App Development</p>
				</div>
				<div class="choose-box-5">
					<span class="icon dt-android"></span>
					<p>Mobile App Development</p>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock content %}
