{% extends 'base.html' %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}
{% load staticfiles %}
{% block head_title %}{% trans 'Home' %} | {% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/services.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/services.js' %}"></script>
{% endblock %}

{% block content %}
<div class="home-page">
	<h1 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

	<div class="body-left-wrapper">

	  <div class="media">
	 		<div class="media-icon">
      <span class="fa fa-dribbble media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Design / Markup</h2>
	 			<p>We completely understand your business category and create a web
design, which is according to your site requirements and lets you stand
apart from the crowd. Our web designers make amazing designs that can
fulfill your dream of having a unique brand recognition and identity.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-codepen media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Concept</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-code media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Web Development</h2>
	 			<p>Strengthen your foothold in the online world with help of our core expertise
in advanced web development technology. Our multifaceted & prolific
approach will carve a unique image of your business that tends to
make your brand famous and renowned worldwide.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-puzzle-piece media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Analytics</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>
		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-android media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>App Development</h2>
	 			<p>Ensure an enthralling presence on the digital landscape with mobile apps
and games that are highly advanced, replete with features and offer visual
delight that is rare to be found. With our unmatched expertise and
experience in this craft, you can expect groundbreaking apps and games
across all major mobile platforms.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      	<span class="fa fa-arrows-alt media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Marketing</h2>

	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

</div>




</div>
{% endblock content %}
