{% extends 'base.html' %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}
{% load staticfiles %}
{% block head_title %}{% trans 'Home' %} | {% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/services.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/services.js' %}"></script>
{% endblock %}

{% block content %}
<div class="home-page">
	<h1 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

	<div class="body-left-wrapper">

	  <div class="media">
	 		<div class="media-icon">
      <span class="fa fa-dribbble media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Design</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-codepen media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Concept</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-code media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Coding</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-puzzle-piece media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Analytics</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>
		<div class="media">
	 		<div class="media-icon">
      <span class="fa fa-android media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Devlopment</h2>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

		<div class="media">
	 		<div class="media-icon">
      	<span class="fa fa-arrows-alt media-icon"></span>
	 		</div>
	 		<div class="media-body">
	 			<h2>Marketing</h2>

	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	 		</div>
		</div>

</div>




</div>
{% endblock content %}
