{% extends 'base.html' %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}
{% load staticfiles %}
{% block head_title %}Specialization{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/specializ.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/specializ.js' %}"></script>
{% endblock %}

{% block content %}
<div class="specializ-page">

	<div class="btn-group">
		<div>
			<ul class="main-ul">
				<li><button class="main-btn" type="button" name="button"> Design & Markup</button></li>
				<li><button class="sub-btn" type="button" name="button">Graphics Design</button></li>
				<li><button class="sub-btn" type="button" name="button">Logo Design</button></li>
				<li><button class="sub-btn" type="button" name="button">Web Design</button></li>
				<li><button class="sub-btn" type="button" name="button">Font End</button></li>
			</ul>
		</div>
		<div>
			<ul class="main-ul">
				<li><button class="main-btn" type="button" name="button">Web Development</button></li>
				<li><button class="sub-btn" type="button" name="button">Open Source</button></li>
				<li><button class="sub-btn" type="button" name="button">eCommerce</button></li>
				<li><button class="sub-btn" type="button" name="button">Custom Development</button></li>
				<li><button class="sub-btn" type="button" name="button">Frame Work</button></li>
			</ul>
		</div>
		<div>
			<ul class="main-ul">
				<li><button class="main-btn" type="button" name="button">Mobile Apps Development</button></li>
				<li><button class="sub-btn" type="button" name="button">Android Apps</button></li>
				<li><button class="sub-btn" type="button" name="button">iOS apps</button></li>
				<li><button class="sub-btn" type="button" name="button">Facbook Apps</button></li>
				<li><button class="sub-btn" type="button" name="button">Game Development</button></li>
			</ul>
		</div>
		<div>
			<ul class="main-ul">
				<li><button class="main-btn" type="button" name="button">Big Data</button></li>
				<li><button class="sub-btn" type="button" name="button">Business Analytic</button></li>
				<li><button class="sub-btn" type="button" name="button">Business Intelligence</button></li>
			</ul>
		</div>
		<div>
			<ul class="main-ul">
				<li><button class="main-btn" type="button" name="button">Digital Marketing</button></li>
				<li><button class="sub-btn" type="button" name="button">SEO</button></li>
				<li><button class="sub-btn" type="button" name="button">Social Media</button></li>
				<li><button class="sub-btn" type="button" name="button">PPC</button></li>
				<li><button class="sub-btn" type="button" name="button">Display Ads</button></li>
			</ul>
		</div>


	</div>
	<div class="process-block">
		<div class="process-pro">
			<div class="icon-body">
				<span class="process-icn dt-agent"></span>
			</div>
			<div class="process">
				<h2>Idea</h2>
				<p>To analyze the requirement through in depth research with the help of brilliant tools.</p>
			</div>
		</div>
		<div class="process-pro">
			<div class="icon-body">
				<span class="process-icn dt-object-group"></span>
			</div>
			<div class="process">
				<h2>sketch</h2>
				<p>To draft the design that is related  to the research in order to check the feasibility.</p>
			</div>
		</div>
		<div class="process-pro">
			<div class="icon-body">
				<span class="process-icn dt-paint-bucket"></span>
			</div>
			<div class="process">
				<h2>Design</h2>
				<p>After completing feasibility test a final design is prepared using smart tools.</p>
			</div>
		</div>
		<div class="process-pro">
			<div class="icon-body">
				<span class="process-icn dt-code"></span>
			</div>
			<div class="process">
				<h2>Develop</h2>
				<p>Now, our development team starts developing the solution according to design.</p>
			</div>
		</div>
		<div class="process-pro">
			<div class="icon-body">
				<span class="process-icn dt-flask"></span>
			</div>
			<div class="process">
				<h2>Test</h2>
				<p>In testing phase, we test every component to make sure that our solution fits the requirement.</p>
			</div>
		</div>
		<div class="process-pro">
			<div class="icon-body">
				<span class="process-icn dt-hierarchy"></span>
			</div>
			<div class="process">
				<h2>Celebrate</h2>
				<p>We make delivery for the solution and assist our clients to control and administer solution.</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
