{% extends 'base.html' %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}
{% load staticfiles %}
{% block head_title %}Team{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'page/css/team.css' %}">
{% endblock %}

{% block head_js %}
<script src="{% static 'page/js/team.js' %}"></script>
{% endblock %}

{% block content %}
<div class="team-page">
	<h1 class="txt-effect">Meet our Creative Team</h1>
	<div class="main">
		<div class="thumbnail">
			<div class="img-font">
				<img class="img" src="{% static 'page/img/team/alamgir.jpg' %}" alt="">
				<h3>Alamgir Kabir Roni</h3>
				<p>Seniour Full Stack Developer</p>
			</div>
		</div>

		<div class="thumbnail">
			<div class="img-font">
				<img class="img" src="{% static 'page/img/team/irin.JPEG' %}" alt="">
				<h3>Irin Kabir</h3>
				<p>Server & Network Developer</p>
			</div>
		</div>

		<div class="thumbnail">
			<div class="img-font">
				<img class="img" src="{% static 'page/img/team/rifat.jpg' %}" alt="">
				<h3>Rifat Ara</h3>
				<p>Back End Developer</p>
			</div>
		</div>
	</div>
	<div class="main mt-40">
		<div class="thumbnail">
			<div class="img-font">
				<img class="img" src="{% static 'page/img/team/salman.png' %}" alt="">
				<h3>Salman Rahman</h3>
				<p>Front End Developer</p>
			</div>
		</div>

		<div class="thumbnail">
			<div class="img-font">
				<img class="img" src="{% static 'page/img/team/tamanna.jpg' %}" alt="">
				<h3>Tamanna Yasmin</h3>
				<p>UI/UX Designer </p>
			</div>
		</div>

		<div class="thumbnail">
			<div class="img-font">
				<img class="img" src="{% static 'page/img/1.jpg' %}" alt="">
				<h3>Abdul Hannan</h3>
				<p>Business Development</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
